certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
cryptography==46.0.3
gitdb==4.0.12
gitpython==3.1.46
idna==3.11
pycparser==2.23
pygithub==2.8.1
pyjwt==2.10.1
pynacl==1.6.1
requests==2.32.5
smmap==5.0.2
typing-extensions==4.15.0
urllib3==2.2.1
