name: Auto Merge Bot PRs

on:
  pull_request:
    branches:
      - main

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Create app token
        id: create-app-token
        uses: ./.github/actions/github/app-token
        with:
          app_id: ${{ vars.LETTUCE_BOT_APP_ID }}
          installation_id: ${{ vars.LETTUCE_BOT_INSTALLATION_ID }}
          private_key: ${{ secrets.LETTUCE_BOT_PRIVATE_KEY }}

      - name: Auto Merge Lettuce Bot
        if: ${{ github.actor == 'lettuce-bot[bot]' || github.actor == 'renovate[bot]' }}
        run: |
          gh pr merge --repo ${{ github.repository }} --auto --merge ${{ github.event.number }}
        env:
          GH_TOKEN: ${{ steps.create-app-token.outputs.token }}
