name: Verify

on:
  pull_request:

jobs:
  verify:
    name: Success
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Setup buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3

      - name: Build container image
        uses: docker/build-push-action@ee4ca427a2f43b6a16632044ca514c076267da23 # v6
        with:
          context: .
          file: Dockerfile
          load: true
          provenance: false
          push: false
          tags: github-bot-signed-commit:${{ github.sha }}
          target: verify

      - name: Verify container image
        shell: bash
        run: |
          docker run --rm github-bot-signed-commit:${{ github.sha }}
