name: Verify

on:
  pull_request:

jobs:
  verify:
    name: Success
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3

      - name: Build container image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          context: .
          file: Dockerfile
          load: true
          provenance: false
          push: false
          tags: github-bot-signed-commit:${{ github.sha }}
          target: verify

      - name: Verify container image
        shell: bash
        run: |
          docker run --rm github-bot-signed-commit:${{ github.sha }}
